@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

a {
  @apply text-white hover:opacity-80;
}

footer a {
  @apply underline;
}

.cta {
  @apply inline-block text-xl text-white py-2 px-6 bg-[#0052ED] items-center;
}

.cta.cta-secondary {
  @apply flex space-x-2 underline text-xl bg-transparent py-2 px-6 justify-center text-white;
}

/* header */
header .cta {
  @apply text-[1rem] py-1 px-4;
}

/* hero */
.hero-light .cta {
  @apply bg-[#001C6C];
}

.hero-light .cta.cta-secondary {
  @apply text-[#0052ED] bg-transparent;
}

.hero-light .cta.cta-secondary .arrow path {
  stroke: #fff;
}

/* highlight */
.highlight .cta.cta-secondary {
  @apply text-[#fff] bg-transparent;
}

.highlight .cta.cta-secondary .arrow path {
  stroke: #fff;
}
